h1 #{name} (#{email}) contacted us.
p #{message}
p
	span #{name}
	| 
	a(href='mailto:#{email}') Send email
	a(href='tel:#{phone}') Call telephone
p This message was sent to you through the internal email server from
	a(href='http://innosund.dk') INNOSUND